langchain
langchain-community
pypdf
sentence_transformers
langchain_mistralai
langchain_huggingface
bitsandbytes
tokenizers
faiss-cpu
unstructured
numpy
accelerate
nltk==3.9.1
scipy
sentence_transformers
transformers
tenacity
streamlit
torch
